:root {
    --header-color: #2E3532;
    --light-color: #fff;
    --table-header-color: #C7CEDB;
    --table-hover-color: #F4F5F6;
    --button-color: #A0AAB2;
    --active-status-color: #2bc48a;
    --baseColor: #e0e0e0;
    --darkColor: #bebebe;
    --lightColor: #ffffff;
    --firstGradientColor: #f0f0f0;
    --secondGradientColor: #cacaca;
    --size: 108px;
    --radius: 17px;
}
body {
    width: 600px;
    margin: 0;
    padding: 0;
    font-family: CustomSansSerif, "Lucida Grande", Arial, sans-serif;
}

.TokenList {
   display: table;
   width: 100%;
}

.Header {
    background-color: var(--table-hover-color);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    color: var(--header-color);
    justify-content: space-between;
    padding: 1rem;
}
.Header img {
    width: 60%;
}

.button {
    border-radius: 4px;
    color: var(--header-color);
    background: #e0e0e0;
    box-shadow:  -5px -5px 10px #afafaf,
    5px 5px 10px #ffffff;
    border: 0;
    padding: 0.5rem;
    cursor: pointer;
    align-items: center;
    width: 6rem;
    text-align: center;
    line-height: 1;
    margin: 0.5rem;
    font-size: 11px;
    text-transform: uppercase;
}
.button:hover {
    border-radius: 4px;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    box-shadow:  -5px -5px 10px #afafaf,
    5px 5px 10px #ffffff;
}

.button img {
    width: 30%;
}

.UserElement {
    display: table-row-group;
}



.UserElement__div {
    display: table-cell;
    padding: 0.5rem;
    transition: 0.5s;
    background-color: transparent;
    text-align: left;
    border-bottom: 1px solid rgb(202, 202, 202);
    height: 2.5rem;
    line-height: 2.5rem;
}

.UserElement:hover {
    background-color: var(--table-hover-color);
}

.UserElement--header {
    display: table-header-group;
    font-weight: bold;
    background-color: var(--baseColor) !important;
    text-transform: uppercase;
}

.AuthForm {
    display: none;
}

input[type=button] {
    cursor: pointer;
}

.badge {
    border-radius: 3px;
    padding: 0 5px;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    vertical-align: text-bottom;
    color: #0b2239;
    width: fit-content;
}

.badge--true {
    background: var(--active-status-color);
}
.badge--false {
    background: var(--button-color);
}

.actionIcon {
    width: 20px;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.AuthForm {
    margin: 0 auto;
    width: 50%;
    padding: 0.5rem;
    text-align: center;
}
.AuthFrom__element {
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}
.AuthFrom__element input {
    padding: 0.5rem;
    width: 100%;
}
.auth_button {
    width: 49.5% !important;
    background-color: var(--button-color);
    border: 0;
    color: var(--light-color);
}

.twoDivs {
    display: flex;
    justify-content: space-between;
}
.auth_button--cancel {
    background: none;
    border: 1px solid var(--button-color);
    color: var(--header-color);
}

.emptyAuthors {
    padding: 1rem;
    font-weight: bold;
    text-align: center;
}
